<%= form_for @plan do |f| %>
　<h1>プラン作成用フォーム</h1>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this @plan from being saved:</h2>
      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.fields_for :orders do |p| %>
      <%= p.label :plan_order_id %>
      <%= p.collection_select :place_id, Place.all, :id, :name %>
      <%= p.hidden_field :order, :value => p.index+1 %>
    <% end %>
  </p>
  <p>
    <%= f.label :cost %>
    <%= f.text_field :cost %>  
    <%= f.label :time %>
    <%= f.text_field :time %>    
    <%= f.label :season %>
    <%= f.text_field :season %>    
  </p>
  <p>
  　<%= f.submit "Post!!!" %>
  　
  </p>
<% end %>
