<div class="content">
  <div class="plan_name">
    <%= @plan.name %>
  <p class="sub">
    費用:
    <%= @plan.cost %>
    万円
    <br>
    行った日にち:
    <%= @plan.time.to_date %>
    <br>
    行った時期:
    <%= @plan.season %>
  </p>
  <div class="places">
    <% @places.each do |place| %>
      <div class="place">
        <div class="place_name">
          <%= place.name %>
        </div>
        <div class="place_explain">
          <%= place.explain %>
        </div>
        <div class="place_photo">
        <%- if place.image %>
          <%= image_tag place.image %>
        <% end %>
        </div>
        <div class="place_comment">
          彼女とめっちゃいい雰囲気になれました！！
        </div>
      </div>
      <div class="sankaku"></div>
    <% end %>
  </div>
</div>
